@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

body{
    background:#fcfaf8;
    color: #1d2330;
    font-family: Plus Jakarta Sans;
}